.logo{
	position: absolute;
	width: 149px;
	height: 80px;
	left: 38px;
	top: 0px;

	font-family: Rancho;
	font-style: normal;
	font-weight: normal;
	font-size: 64px;
	line-height: 79px;

	color: #E81346;
}

a.logo:hover { color: #E81346!important;  }

.menu{
	margin: 20px; box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.btn-group-xs > .btn, .btn-xs {
	padding: .25rem .4rem;
	font-size: .875rem;
	line-height: .5;
	border-radius: .2rem;
}

.form-holder{
	margin-top:20%;
	margin-bottom:20%;
	border-radius: 10px;
	box-shadow: 10px 15px 0px rgba(0, 0, 0, 0.1);
}

.nav.navbar-nav li {
	float: left;
}